
@mixin typoBoby
  font-family: $font-family
  

@mixin typoH1
  font-family: "arial"
  font-size: 90%
  font-weight: 500
  color: green
  
@mixin typoH2
  font-size: 50px
  font-family: "arial"
  font-weight: 600
  color: green
  
@mixin typoH3
  font-size: 20px
  font-family: "arial"
  font-weight: 500
  color: green
  

@mixin typoH4
  font-size: 20px
  font-family: "arial"
  font-weight: 500
  color: green
  
@mixin typoH5
  font-size: 10px
  font-family: "arial"
  font-weight: 500
  color: green
  

@mixin paragraphe
  font-size: 10px
  font-family: "arial"
  font-weight: 500
  color: green
  
@mixin buttons
  background-color: green
  color: white
  font-size: 15px
  border-radius: 20%
  padding: 10px 20px 10px 20px
  &:hover
    background-color: white
    color: gray

@mixin liens
  &:hover
    background-color: white
    color: gray
  

@mixin paddings($padding-top, $padding-bottom, $padding-left, $padding-right) 
    padding-top: $padding-top
    padding-bottom: $padding-bottom
    padding-left: $padding-left
    padding-right: $padding-right
  
@mixin margins($margin-top, $margin-bottom, $margin-left,$margin-right)
    margin-top: $margin-top
    margin-bottom: $margin-bottom
    margin-left: $margin-left
    margin-right: $margin-right


body
  h1
    @include typoH1
  h2
    @include typoH2
  h3
    @include typoH3
  h4
    @include typoH4
  h5
    @include typoH5
  button
    @include buttons
  a
    @include liens
    
       


















.portfolio
  position: relative
.container__portfolio::after
  content: ""
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: rgba(66, 66, 66, 0.274)

.titre__portfolio
  position: absolute
  bottom: 45%
  left: 36%
  display: block
