body {
  font-family: "arial";
  background-color: #000000;
}
body section {
  margin-top: 0%;
  margin-bottom: 10%;
  margin-left: 0%;
  margin-right: 0%;
}
body header {
  background-color: #000000;
}
body footer {
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 0%;
  margin-right: 0%;
}
body .banner {
  background-color: black;
}
body button {
  background-color: #000000;
  color: #fff1b9;
  font-size: 15px;
  width: 100px;
  border: 1px solid #272625;
  border-radius: 10px;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
body button:hover {
  background-color: #fff1b9;
  color: #272625;
}
body input {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  background-color: rgba(156, 2, 2, 0.164);
}
body i {
  color: white;
}
body i:hover {
  color: rgba(15, 15, 15, 0.836);
}
body a {
  color: #fff1b9;
}
body p {
  font-size: 15px;
  font-family: "arial";
  font-weight: 400px;
  color: grey;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: 0px;
  margin-right: 0px;
}
body h1 {
  font-size: 40px;
  font-family: "arial";
  font-weight: 400px;
  color: #5e5e5f;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: 0px;
  margin-right: 0px;
}
body h2 {
  font-size: 30px;
  font-family: "arial";
  font-weight: 400px;
  color: #272625;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: 0px;
  margin-right: 0px;
}
body h3 {
  font-size: 20px;
  font-family: "arial";
  font-weight: 400px;
  color: #5e5e5f;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
}
body h4 {
  font-size: 10px;
  font-family: "arial";
  font-weight: 400px;
  color: #3f4040;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: 0px;
  margin-right: 0px;
}
body h5 {
  font-size: 15px;
  font-family: "arial";
  font-weight: 400px;
  color: #fff1b9;
}