body h1 {
  font-family: Arial, sans-serif;
  font-weight: 500;
  color: green;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}
body h2 {
  font-family: Arial, sans-serif;
  font-weight: 600;
  color: green;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: 0;
  margin-right: 0;
}
body h3 {
  font-family: Arial, sans-serif;
  font-weight: 500;
  color: green;
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
}
body h4 {
  font-family: Arial, sans-serif;
  font-weight: 500;
  color: green;
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
}
body h5 {
  font-family: Arial, sans-serif;
  font-weight: 500;
  color: green;
}
body p {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: 0;
  margin-right: 0;
}
body i {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: 0;
  margin-right: 0;
  color: rgba(0, 0, 0, 0.8431372549);
  margin-left: 10px;
  margin-right: 10px;
  font-size: 35px;
}
body i:hover {
  vertical-align: middle;
  color: #45a049;
}
body button {
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid #4caf50;
  padding: 10px 20px;
  font-family: Arial, sans-serif;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: 0;
  margin-right: 0;
}
body button:hover {
  background-color: #45a049;
  transform: scale(1.1);
}
body footer {
  padding-top: 40px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 10px;
}